:root {
    --bg-main-color: #E8E9D7;
    --text-main-color: #191414;
    --text-secondary-color: #7B8E98;
    --outline-color: #CFD8DC;
    --form-color: #ECEFF1;
    --accent-color: #405DE6;
    --primary-color: #FFCC00;
    --secondary-color: #1DB954;
}